// Colors
$orange: #FF6700; 
$white: #EBEBEB; 
$gray: #C0C0C0;
$blue: #3A6EA5; //this color sucks
$dark-blue:#004E98;  
$light-blue: #1793d1;
$black: #333333;
$teen: #E4C5AF; 
$yellow: #e3d26f;
$red: #E63946;

$green: #29ca8e;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem; 
$l-size: 3.2rem;
$xl-size: 4.8rem;

