.information-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: $xl-size;
  color: $green;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 18px;
  text-align: center;
  border-bottom: 3px solid $green;
  border-bottom-right-radius: 50px 20px;
  border-bottom-left-radius: 50px 20px;
  line-height: 40px;
}

.information-content {
    font-family: "Lora", serif;
    font-size: $m-size;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    white-space: pre-line;
}
