.information-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: $xl-size;
  color: $green;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 18px;
  text-align: center;
  border-bottom: 3px solid $green;
  border-bottom-right-radius: 50px 20px;
  border-bottom-left-radius: 50px 20px;
  line-height: 40px;
}

.information-content {
    font-family: "Lora", serif;
    font-size: $m-size;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    white-space: pre-line;
}

.custom-jumbotron {
  text-align: center;
  margin-top: 8rem; //14rem 526
  padding-top: 5rem;
  background-image: url("../public/images/info-pattern.png");
  background-repeat: repeat;
  background-size: 200px 200px;

  @media (max-width: 526px) {
    margin-top: 14rem;
  }
}