.navbar-main {
    margin-bottom: 0 !important;
    min-height: 80px !important;
    padding-top: 15px !important;
}

.navbar-brand {
    display: flex !important;
    align-items: center !important;
    padding: 10px 10px !important;
    line-height: 5rem !important;
}

@media (max-width: 477px) { 
    .navbar-header {
        margin-top: 3rem;
    }
}

.navbar-brand-title {
    color: #454545 !important;
    font-size: 25px !important;
    font-weight: bold !important;
    line-height: 20px !important;
}

.custom-navbar-logo {
    padding: 8px 8px !important;
    width: 128px !important;  
}

.custom-nav-item {
    padding: 0px 5px !important;
    :hover {
        background-color: lighten($green, 10) !important;
        border-radius: 30px !important;  
    }
}

.custom-nav-item-2 {
    padding: 0px 5px !important;
    :hover {
        background-color: lighten($green, 10) !important;
        border-radius: 30px !important;  
    }
}



