.custom-carousel-text {
    padding-bottom: 20px !important;
    color: white !important;
}

// as known as section-btn
.custom-carousel-button {
    margin-bottom: 20px;
    background: #3F51B5;
    border-radius: 50px;
    border: 3px solid #f0f0f0;
    color: #f0f0f0;
    /* Add This */
    box-shadow: 0 0 0 2px #3F51B5;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    transition: 0.5s;
}

.custom-carousel-button:hover {
    background: #f0f0f0;
    color: #3F51B5;
    box-shadow: 0 0 0 2px #3F51B5;
}